commands:
  01_dev_tools:
    command: sudo yum groupinstall -y "Development Tools"
  02_dev_libs:
    command: sudo yum install -y gcc gcc-c++ make openssl-devel bzip2-devel libffi-devel zlib-devel
  03_gcc_alternatives:
    command: sudo alternatives --display gcc && sudo yum install -y gcc48 gcc48-c++